# Keep portable code/config stable in Windows and macOS checkouts.
*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.tsv text eol=lf
*.html text eol=lf
*.swift text eol=lf
*.cc text eol=lf
*.h text eol=lf
# Keep vendored source and license bytes consistent across checkouts.
examples/ios/VimeSentencePiece/** text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
